html, body {
	background:#ffffff;
}

/* links & link interactions */
a { color:#444444; }

#mw_adminimize_admin_bar #mw_title {
    font-family: "Open Sans", sans-serif!important;
}

/* sidebar */

#adminmenuback {
	display:none;
}

#adminmenuwrap {
	background:#ffffff;
}

#adminmenu {
	margin-top:0px;
	padding:10px 0px 0px 15px;
	background:#fff;
	box-sizing:border-box;
}

#adminmenu li {
	display:block;
	background:#444;
	padding:0px 0px;
	margin:15px 0px;
	border-radius:2px;
	-webkit-border-radius:2px;
}

#adminmenu a.menu-top {
	background:#444444!important;
	padding:20px 0px;
}

@media (max-width:960px) {
	#adminmenu {
		padding-left:10px;
	}
	#adminmenu a.menu-top {
		padding:0px;
	}
}

#adminmenu .wp-submenu {
	display:none;
}

#adminmenu li a {
	display:block;
	background:#666!important;
}

.wp-menu-image, .wp-menu-name {
	display:block!important;
	width:100%!important;
	float:none!important;
	text-align:center;
}

#collapse-menu {
	display:none!important;
}

/* buttons */

.button.button-primary, .button.button-secondary {
	background:#444444;
	color:#ffffff;
	border:0px;
	border-radius:2px;
	-webkit-border-radius:2px;
	text-shadow:none;
	box-shadow:none;
	-webkit-box-shadow:none;
}

.button.button-primary:hover,
.button.button-primary:active,
.button.button-secondary:hover,
.button-button-secondary:active {
	background:#666666;
	color:#ffffff;
}

#post-preview, .button.edit-slug {
	background:#444444;
	color:#ffffff;
	border:0px;
	border-radius:2px;
	-webkit-border-radius:2px;
	text-shadow:none;
	box-shadow:none;
	-webkit-box-shadow:none;
}

#post-preview:hover, .button.edit-slug:hover {
	background:#666666;
	color:#ffffff;
}

#insert-media-button {
	background:#444444;
	color:#ffffff;
	border:0px;
	box-shadow:none;
	-webkit-box-shadow:none;
	border-radius:2px;
	-webkit-border-radius:2px;
}

#insert-media-button:hover,
#insert-media-button:active,
#insert-media-button:focus {
	background:#666666;
	color:#ffffff;
}

#edit-slug-buttons button.save,
#edit-slug-buttons button.cancel {
	background:#444444;
	color:#ffffff;
	text-decoration:none;
	border:0px;
	box-shadow:0px;
	-webkit-box-shadow:0px;
	border-radius:2px;
	-webkit-border-radius:2px;
	padding:5px 8px;
	line-height:1;
	font-size:13px;
	box-shadow:none;
	-webkit-box-shadow:none;
	text-transform:uppercase;
	height:24px;
}

/* edit.php */

/* Hide the search bar */
.search-box {
	display:none;
}

/* "Add New" button */
.wrap .page-title-action {
	background:#444444;
	color:#ffffff;
	font-weight:300;
	border-radius:2px;
	-webkit-border-radius:2px;
}
.wrap .page-title-action:hover, .wrap .page-title-action:active {
	background:#666666;
	color:#ffffff;
}

/* The "All / Published / Trash" counts list */
ul.subsubsub {
	margin:10px 0px;
}

/* Posts filter drop-downs table */
#posts-filter .tablenav.top {
	margin:15px 0px;
}
#doaction {
  background:#444444;
	color:#ffffff;
	border-radius:2px;
	-webkit-border-radius:2px;
	border:0px;
	box-shadow:none;
	-webkit-box-shadow:none;
	text-transform:uppercase;
}
#doaction:hover, #doaction:active {
	
}
#post-query-submit {
  background:#444444;
	color:#ffffff;
	border-radius:2px;
	-webkit-border-radius:2px;
	border:0px;
	box-shadow:none;
	-webkit-box-shadow:none;
	text-transform:uppercase;
}
#post-query-submit:hover, #post-query-submit:active {
	
}

/* edit.php The post lists table */

table.wp-list-table {
	border:0px;
	box-shadow:none;
	-webkit-box-shadow:none;
}

.striped > tbody > :nth-child(2n+1) {
	background:#ffffff;
}

table.wp-list-table .manage-column {
	border-bottom:0px;
}

#title {
	font-size:18px;
}

#the-list .page-title strong, #the-list .page-title strong a {
	font-weight:300;
}

#the-list .page-title .row-actions .inline {
	display:none;
}

#the-list .author, #author, #the-list .comments, #comments {
	display:none;
}

#date {
	width:20%;
}

#the-list .column-date br {
	display:none;
}

#the-list .column-date abbr {
	margin-left:5px;
}

table.wp-list-table tfoot {
	display:none;
}

#posts-filter .tablenav.bottom {
	display:none;
}

#the-list button.toggle-row {
	display:none;
}

#the-list .row-actions .trash {
	display:none;
}

/* post.php */

.nf-insert-form {
	display:none!important;
}

/* profile.php */

#your-profile .user-rich-editing-wrap {
	display:none;
}

#your-profile .user-comment-shortcuts-wrap {
	display:none;
}

#your-profile .show-admin-bar {
	display:none;
}

#your-profile .user-admin-color-wrap { 
	display:none; 
}

/* Post Edit Page */

#wp-content-editor-tools {
	background:#ffffff;
}